@charset "UTF-8";
/* リセットcss */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, code, em, img, q, strong, dl, dt, dd, ol, ul, li, form, label, fieldset, legend, table, caption, tbody, tfoot, thead, tr, th, td, button {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
}

/* 全体css */
html {
  font-size: 16px;
}

body {
  font-family: "Corbel Light", sans-serif;
  background-color: #ffc933;
}

.container {
  width: 95%;
  margin: 0 auto;
  min-width: 1400px;
}

@media (max-width: 1400px) {
  .container {
    width: 90%;
    min-width: 1000px;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* モーダル */
.campain-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.campain-modal__contents-wrapper {
  position: absolute;
  left: 24%;
  top: 11.1%;
  width: 987px;
  height: 700px;
  background-color: #ffc933;
}

.campain-modal__contents-wrapper__close .fa-xmark {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 2%;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.campain-modal__contents-wrapper__close .fa-xmark:hover {
  opacity: 0.5;
}

.campain-modal__contents-wrapper__campain-name {
  position: relative;
  width: 800px;
  height: 200px;
  top: 8%;
  left: 7%;
}

.campain-modal__contents-wrapper__campain-name__image {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  width: 62%;
  position: absolute;
  -webkit-box-shadow: 4px 8px 10px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 4px 8px 10px 0 rgba(0, 0, 0, 0.7);
}

.campain-modal__contents-wrapper__campain-name__catch {
  position: absolute;
  z-index: 3;
  top: 61%;
  left: 49%;
  font-size: 8rem;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  line-height: 0.9;
  letter-spacing: -0.7rem;
  -webkit-text-stroke: 4px #FFF;
}

.campain-modal__contents-wrapper__campain-name__catch--left {
  padding-left: 90px;
}

.campain-modal__contents-wrapper__words {
  padding: 237px 13px 0 0px;
  font-size: 3rem;
  text-align: right;
  font-family: 'Mochiy Pop One', sans-serif;
  letter-spacing: 0.7rem;
  line-height: 1.2;
}

.campain-modal__contents-wrapper__words--blue {
  color: blue;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.campain-modal__contents-wrapper__words--blue:hover {
  opacity: 0.5;
}

@media (max-width: 1400px) {
  .campain-modal__contents-wrapper {
    left: 17%;
    width: 727px;
    height: 560px;
  }
  .campain-modal__contents-wrapper__campain-name {
    width: 620px;
  }
  .campain-modal__contents-wrapper__campain-name__catch {
    left: 42%;
    font-size: 7rem;
  }
  .campain-modal__contents-wrapper__campain-name__catch--left {
    letter-spacing: -0.4rem;
  }
  .campain-modal__contents-wrapper__words {
    padding: 164px 13px 0 0px;
    font-size: 2.3rem;
    letter-spacing: 0.9rem;
  }
}

/* mask */
.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

/* header */
/* headerロゴ */
header {
  position: fixed;
  width: 100%;
  height: 130px;
  z-index: 10;
  background-color: white;
}

.header-wrapper__title {
  float: left;
}

.header-wrapper__title__anchor {
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.header-wrapper__title__anchor:hover {
  opacity: 0.5;
}

.header-wrapper__title__logo {
  padding-top: 13px;
}

.header-wrapper__menu-btn {
  border: 5px solid #000;
  width: 50px;
  height: 50px;
  float: right;
  display: none;
  margin-top: 40px;
}

.header-wrapper__menu-btn__bar {
  border-top: 5px solid #000;
  width: 41px;
  display: block;
  margin-top: 18%;
  margin-left: 5%;
  margin-left: 8%;
}

@media (max-width: 1400px) {
  .header-wrapper__menu-btn {
    display: block;
  }
}

.nav {
  float: right;
  width: 767px;
  height: 43px;
  margin-top: 77px;
  font-size: 2.5rem;
  line-height: 43px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list__anchor {
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  color: #000;
}

.nav__list__anchor:hover {
  opacity: 0.5;
}

.nav__list__item--red {
  padding-left: 5px;
  border-left: 17px solid red;
}

.nav__list__item--blue {
  margin-left: 43px;
  padding-left: 5px;
  border-left: 17px solid #00a9ff;
}

.nav__list__item--green {
  margin-left: 43px;
  padding-left: 5px;
  border-left: 17px solid #00a932;
}

.nav__list__item--yellow {
  margin-left: 43px;
  padding-left: 5px;
  border-left: 17px solid #f6ff35;
}

.nav__list__item--gray {
  margin-left: 43px;
  padding-left: 5px;
  border-left: 17px solid #c0c0c0;
}

@media (max-width: 1400px) {
  .nav {
    width: 346px;
    height: 314px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 80px -60px 0 0;
    opacity: 0;
    -webkit-transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, -webkit-transform .5s;
    transition: transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s, -webkit-transform .5s;
  }
  .nav__list {
    display: block;
  }
  .nav__list__anchor {
    color: #fff;
  }
  .nav__list__anchor li {
    height: 62.4px;
    line-height: 62.4px;
  }
  .nav__list__anchor li:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  .nav__list__anchor li.nav__list__item--blue, .nav__list__anchor li.nav__list__item--green, .nav__list__anchor li.nav__list__item--yellow, .nav__list__anchor li.nav__list__item--gray {
    margin-left: 0;
  }
  .menu-open {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 1;
  }
}

/* main */
main {
  padding-top: 130px;
  height: 739px;
}

@media (max-width: 1400px) {
  main {
    height: 536px;
  }
}

.top-section {
  margin-top: 5%;
  overflow: hidden;
}

.top-section__catch-copy {
  float: left;
  margin: 5% 0 0 5%;
  width: 43%;
}

.top-section__catch-copy__bubble {
  margin: 0 0 -6% -7%;
  width: 40%;
}

.top-section__catch-copy__heading {
  text-align: center;
  font-family: 'Playball', cursive;
  font-size: 10rem;
  letter-spacing: 5px;
  color: white;
}

.top-section__catch-copy__word {
  text-align: center;
  font-family: "ＤＦＰ華康明朝体", serif;
  font-size: 2rem;
  margin-top: -5%;
}

.top-section__eyecatch {
  position: relative;
  left: 50%;
  height: 647px;
  width: 50%;
}

.top-section__eyecatch__person {
  position: absolute;
  width: 60%;
  right: 63%;
  top: 11%;
  z-index: 2;
}

.top-section__eyecatch__clich-me {
  position: absolute;
  z-index: 1;
  width: 25%;
  top: 8%;
  left: 17%;
  -webkit-transition: width .5s;
  transition: width .5s;
  /*&:hover{
        width: 30%;
      }*/
}

.top-section__eyecatch__landscape {
  position: absolute;
  width: 100%;
  right: 0%;
}

.dialogue-anime {
  width: 30%;
}

@media (max-width: 1400px) {
  .top-section__catch-copy__heading {
    font-size: 6.6rem;
  }
}

/* footer */
.copyright {
  text-align: right;
  font-size: 2rem;
  font-family: "Arial", sans-serif;
  color: #873600;
  line-height: 100px;
  padding-right: 5px;
}
/*# sourceMappingURL=style.css.map */