@charset "utf-8";

/* リセットcss */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, code, em, img, q, strong, dl, dt, dd, ol, ul, li, form, label, fieldset, legend, table, caption, tbody, tfoot, thead, tr, th, td, button {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  
}

/* 全体css */

html{
  font-size: 16px;
}

body{
  font-family: "Corbel Light", sans-serif;
    background-color: #ffc933;
    
}


.container{
  width: 95%;
  margin: 0 auto;
  min-width: 1400px;

}

@media (max-width: 1400px) {
  .container{
    width: 90%;
    min-width: 1000px;
  }  
}


li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

@mixin anchor-hover {
  opacity: 0.5;
}
@mixin anchor-action {
  transition: opacity .2s ease-in-out;
}

/* モーダル */
.campain-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  display: none;
  
  &__contents-wrapper{
    position: absolute;
    left: 24%;
    top: 11.1%;
    width: 987px;
    height: 700px;
    background-color: #ffc933;

    &__close{
      .fa-xmark{
        cursor: pointer;
        position: absolute;
        right: 2%;
        top: 2%;
        @include anchor-action;
      }

      .fa-xmark:hover{
        @include anchor-hover;
      }
      
    }
    
    
    &__campain-name{
      position: relative;
    width: 800px;
    height: 200px;
    top: 8%;
    left: 7%;
      
      &__image{
        transform: rotate(-10deg);
        width: 62%;
        position: absolute;
        box-shadow: 4px 8px 10px 0 rgba( 0, 0, 0, 0.7);
        
      }
      
      &__catch{
        position: absolute;
        z-index: 3;
        top: 61%;
        left: 49%;
        font-size: 8rem;
        font-weight: bold;
        font-family: "Arial", sans-serif;
        line-height: 0.9;
        letter-spacing: -0.7rem;
        -webkit-text-stroke: 4px #FFF;
        
        
        &--left{
          padding-left: 90px;
        }
      }
    }
    
    &__words{
      padding: 237px 13px 0 0px;
    font-size: 3rem;
    text-align: right;
    font-family: 'Mochiy Pop One', sans-serif;
    letter-spacing: 0.7rem;
    line-height: 1.2;

      &--blue{
        color: blue;
        @include anchor-action;
      }

      &--blue:hover{
        @include anchor-hover;
      }

    }
    
  }
  
}


/* mask */
.mask{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}


/* header */

/* headerロゴ */
header{
  position: fixed;
  width: 100%;
  height: 130px;
  z-index: 10;
  background-color: white;
}



.header-wrapper{
  

  &__title{
    float: left;

    &__anchor{
      @include anchor-action;
    }

    &__anchor:hover{
      @include anchor-hover;
    }

    &__logo{
      padding-top: 13px;
    }
  }

  &__menu-btn{
    border: 5px solid #000;
    width: 50px;
    height: 50px;
    float: right;
    display: none;
    margin-top: 40px;

    &__bar{
      border-top: 5px solid #000;
      width: 41px;
      display: block;
      margin-top: 18%;
      margin-left: 5%;
      margin-left: 8%;
    }

  }

  
  
}

@media (max-width: 1400px) {
  .header-wrapper__menu-btn{
    display: block;
  }  
}



@mixin item-left {
  margin-left: 43px;
}
@mixin left-padding {
  padding-left: 5px;
}
.nav{
  float: right;
  width: 767px;
  height: 43px;
  margin-top: 77px;
  font-size: 2.5rem;
  line-height: 43px;

  
  &__list{

    display: flex;

    &__anchor{
      @include anchor-action;
      color: #000;

      &:hover{
        @include anchor-hover;
      }
    }

    
    
   
    
      &__item--red{
        @include left-padding;
        border-left: 17px solid red;
      }
      
      &__item--blue{
        @include item-left;
        @include left-padding;
        border-left: 17px solid #00a9ff;
      }

      &__item--green{
        @include item-left;
        @include left-padding;
        border-left: 17px solid #00a932;
      }

      &__item--yellow{
        @include item-left;
        @include left-padding;
        border-left: 17px solid #f6ff35;
      }

      &__item--gray{
        @include item-left;
        @include left-padding;
        border-left: 17px solid #c0c0c0;
        
      }
  }
}

@media (max-width: 1400px) {
  .nav{
    width: 346px;
    height: 314px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 100px -60px 0 0;
    display: none;

    &__list{
      display: block;

      &__anchor{
        color: #fff;

        & li{
          height: 62.4px;
          line-height: 62.4px;

          &:hover{
            background-color: rgba(255, 255, 255, 0.4);
          }

          &.nav__list__item{
            &--blue, &--green, &--yellow, &--gray{
              margin-left: 0;
            }
          }

        }  
      
      }

    }
  }

  .menu-open{
    display: block;
  }

}


/* main */

main{
  
  padding-top: 130px;
  height: 739px;

}

@media (max-width: 1400px) {
  main{
    height: 536px;
  }
}

@mixin catchcopy-center {
  text-align: center;
}

.top-section{
  margin-top: 5%;
  overflow: hidden;

  &__catch-copy{
    float: left;
    margin: 5% 0 0 5%;
    width: 43%;
    
    &__bubble{
      margin: 0 0 -6% -7%;
    width: 40%;
    }

    &__heading{
      @include catchcopy-center;
      font-family: 'Playball', cursive;
    font-size: 10rem;
    letter-spacing: 5px;
    color: white;
    }

    &__word{
      @include catchcopy-center;
      font-family: "ＤＦＰ華康明朝体", serif;
      font-size: 2rem;
      margin-top: -5%;
    }

  }

  &__eyecatch{
    position: relative;
    left: 50%;
    height: 647px;
    width: 50%;

    &__person{
      position: absolute;
      width: 60%;
      right: 63%;
      top: 11%;
      z-index: 2;
    }

    &__landscape{
      position: absolute;
      width: 100%;
      right: 0%;
    }

  }

}

@media (max-width: 1400px) {
  .top-section{
    
    &__catch-copy{
      
      &__heading{
        font-size: 6.6rem;
      }
    }
  }
}

/* footer */



.copyright{
  text-align: right;
  font-size: 2rem;
  font-family: "Arial", sans-serif;
  color: #873600;
  line-height: 100px;
  padding-right: 5px;
}



